    .headerdiv {
        border: 2px solid black;
        text-align: center;
    }
    .maindiv{
        border: 2px solid black;
        background-color: yellow;
        height: 1000px;
        width: 1665px;
        margin-top: 10px;
    }
    .div1{
        border: 2px solid black;
        background-color: red;
        height: 210px;
        width: 1640px;
        margin : auto;
    }
.div2 {
    border: 2px solid black;
    background-color: aqua;
    width: 300px;
    margin-top: 3px;
    margin: 3px;
    text-align: center;
    padding: 50px;
  
}
.div3 {
    border: 2px solid black;
    background-color: rgb(219, 26, 177);
    width: 1200px;
    height: 118px;  
    /*padding: 50px when padding enter in code than your div code not 
    start in starting point;*/
    margin-left: 420px;
    margin-top: -126px;
}
.div4 {
    border: 2px solid black;
    background-color: white;
    width: 1120px;
    padding: 30px;
    margin: auto;  
    /*padding: 50px when padding enter in code than your div code not 
    start in starting point;*/
    text-align: center;
  
}
.div5 {
    border: 2px solid black;
    width: 1618px;
    height: 45px;
    margin: auto;
    margin-top: 5px;
    background-color: grey;
    margin-left: 3px;
}
.div6 {
    border: 2px solid black;
    background-color: azure;
    width: 1580px;
    margin: auto;
}
.div7 {
    border: 2px solid black ;
    background-color: blue;
    height: 500px;
    width: 1638px;
    margin: auto;
    margin-top: 10px;
}
.div8{
    border: 2px solid black;
    background-color: aqua;
    height: 450px;
    width: 400px;
    margin-left: 10px;
    margin-top: 8px;
}
.div9{
    border:2px solid black;
    background-color: rgb(62, 248, 6);
    height: 200px;
    width: 370px;
    margin: auto;
    margin-top: 5px;
}
.div10{
    border: 2px solid black;
    background-color: white;
    padding: 28px;
    width: 270px;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
.div11{
    border: 2px solid black;
    background-color: white;
    padding: 28px;
    width: 270px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.div12 {
    border:2px solid black;
    background-color: blue;
    height: 200px;
    width: 370px;
    margin: auto;
    margin-top: 10px;
}
.div13{
    border: 2px solid black;
    background-color: white;
    padding: 28px;
    width: 270px;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
.div14{
    border: 2px solid black;
    background-color: white;
    padding: 28px;
    width: 270px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.div15 {
    border: 2px solid black;
    background-color: red;
    height: 450px;
    width: 700px;
    margin-left: 440px;
    margin-top: -453px;
}
.div16{
    border: 2px solid black;
    background-color: aqua;
    height: 450px;
    width: 450px;
    margin-left: 1170px;
    margin-top: -453px;
}
.div17 {
    border: 2px solid black;
    background-color: white;
    height: 60px;
    width: 670px;
    margin: auto;
}
.div18 {
    border: 2px solid black;
    background-color:  rgb(62, 248, 6);
    margin: auto;
    height: 25px;
    width: 650px;
} 
.div19{
    border: 2px solid black;
    background-color: rgb(62, 248, 6);
    height: 160px;
    width: 670px;
    margin: auto;
    margin-top: 8px;
}
.div20 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: 580px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.div21 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: 580px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.div22{
    border: 2px solid black;
    background-color: yellow;
    height: 170px;
    width: 670px;
    margin: auto;
    margin-top: 5px;
}
.div23 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: 580px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.div24 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: 580px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.div25 {
    border: 2px solid black;
    background-color: rgb(62, 248, 6);
    height: 380px;
    width: 380px;
    margin: auto;

}
.div26 {
    border: 2px solid black;
    background-color: white;
    padding: 50px;
    width:180px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.div27 {
    border: 2px solid black;
    background-color: white;
    padding: 50px;
    width:180px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
.div28 {
    border: 2px solid black;
    background-color: red;
    height: 200px;
    width: 1640px;
    margin: auto;
    margin-top: 20px;

}
.div29 {
    border: 2px solid  black;
    background-color: white;
    padding: 18PX;
    width: 1560px;
    margin: auto;
    margin-top: 10px;
}
.div30 {
    border: 2px solid  black;
    background-color: white;
    padding: 18PX;
    width: 1560px;
    margin: auto;
    margin-top: 10px;
}

